extends ../../components/admin-layout/admin-layout.pug

include ../../components/create-or-edit-post-form/create-or-edit-post-form.pug

block page-css
    link(rel='stylesheet', href='/assets/css/trumbowyg.min.css')

block page-js
    script(type='text/javascript', src='/assets/js/trumbowyg/trumbowyg.min.js')
    script(type='text/javascript', src='/assets/js/trumbowyg/langs/ru.min.js')
    script(type='text/javascript', src='/components/create-or-edit-post-form/create-or-edit-post-form.js')

block page-content
    .create-post-page
        h2: a(href='/admin') Вернуться в админку

        +create-or-edit-post-form
